.main-text {
    text-align: center;

}
.text {
    text-align: center;
    font-family: Verdana;
    color: grey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#btnNowaGra{
    border-radius: 3px;
}
#btnNowaGra:hover{
    color: white;
    background-color: black;
}