.main-text {
    font-family: Verdana;
    font-weight: 700;
}

.container-sudoku {
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 700px;
    background-color: whitesmoke;
    padding: 10px;
    border: solid black 5px;

    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    border: solid black 1px;

    display: grid;
    grid-template-columns: auto auto auto;
}

.small-column {
    text-align: center;
    
    grid-template-columns: auto auto auto;
    border: solid black 1px;
    display: table;
}

.par-col {
    height: 100%;
    width: 100%;
    
    display: table-cell;
    vertical-align: middle;
}

.panel {
    margin-top: 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    display: flex;
}

.button {
    width: calc(33.33% - 10px);
}